.game-link {
    padding: 10px;
    background-color: #333;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s, background-color 0.3s;
}

.game-link:hover {
    transform: translateY(-5px);
    background-color: #555;
}
